# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
.release-venv/


# Build artifacts
build/
dist/
*.egg-info/

# Packaging
*.whl

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Editor settings
.vscode/
.idea/

# Testing
.coverage
.pytest_cache/

# Temporary files
*.tmp
*.swp

# Example generated data
examples/*/data/
examples/*/server_results/
